body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #333;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Estilos da seção Sobre Mim */
#sobre {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Estilos da seção Projetos */
#projetos {
    padding: 20px;
}

.project {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

/* Estilos da seção Contato */
#contato {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}